<form action="" class="search-form">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="search git users with their username"
            [(ngModel)]="username" name="username" (keyup)="findProfile()">

    </div>
</form>
<div *ngIf="profile">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{profile.name}}<div>{{profile.login}}</div>
            <span *ngIf="profile.company">,works at {{profile.company}}</span>
            {{profile.location}}
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-3">
                <img src="{{profile.avatar_url}}" class="img-circle img-responsive" alt="Profile Image">
            </div>
            <br>
            <br>
            <div class="col-md-6">
                <ul>
                    <li class="list-group-item" *ngIf="profile.login">{{profile.login}}</li>
                    <li class="list-group-item" *ngIf="profile.bio">{{profile.name}}</li>
                    <li class="list-group-item" *ngIf="profile.blog">{{profile.blog}}</li>
                    <li class="list-group-item" *ngIf="profile.email">{{profile.email}}</li>
                </ul>

            </div>
            <br>
            <div class="col-sm-4">
                <div>
                    <p>
                       
                        <button class="box"><span class="label label-default">{{profile.followers}}Followers</span></button>
                        <button class="box"><span class="label label-default">{{profile.following}}Following</span></button>
                        <button class="box"><span class="label label-default">{{profile.public_gists}}Public gists</span></button>
                        <button class="box"><span class="label label-default">{{profile.public_repos}}Public Repos</span></button>
                    </p>
                
                    <p><a href="{{profile.html_url}}" target="_blank" class="btn btn-success btn-sm">View profile on
                            github</a></p>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-tittle">Repos</h3>

                        </div>
                        <div class="panel-body" *ngFor="let repo of repos">

                            <p class="clearfix">
                                {{repo.name}}<a href="{{repo.html_url}}" target="_blank" class="btn btn-sm">View this
                                    project on github</a>
                            </p>
                            <p>{{repo.description}}</p>


                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>